html, body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    height: 100vh; /* 100% of the viewport height */
}

.menu {
    width: 250px;
    background: #011120;
    color: #b2c2bf;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.menu-title {
    font-size: 30px;
    margin-bottom: 50px;
    margin-left: 10px;
    font-family: 'Tahoma', sans-serif;
    color: white;
}

.menu-item {
    cursor: pointer;
    font-size: 20px;
    color: #78acc8;
    margin-bottom: -5px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    font-family: 'Tahoma', sans-serif;
    transition: background-color 0.3s;
    padding: 15px;
}

.menu-item svg {
    width: 24px;
    margin-right: 12px;
}

.menu-item.selected,
.menu-item:hover {
    background-color: #1E3948;
    border-radius: 10px;
    color: white;
}

.menu-item.menu-logout {
    position: absolute;
    bottom: 20px;
    cursor: pointer;
    font-size: 24px;
    margin-left: 25px;
    display: flex;
    align-items: center;
    font-family: 'Tahoma', sans-serif;
}

.menu-item.menu-logout a {
    text-decoration: none;
    color: white;
}

.content {
    flex: 75%;
    padding: 20px;
}

.hidden {
    display: none;
}

#createKeyButton {
    background-color: #1E3948;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    position: absolute;
    top: 40px; /* Adjust the top position to place it at the top */
    left: 61%; /* Center the button horizontally */
    transform: translateX(-50%); /* Center the button horizontally */
    transition: background-color 0.3s;
}

#createKeyButton:hover {
    background-color: #78acc8;
}

#createDIDButton {
    background-color: #1E3948;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    position: absolute;
    top: 40px; /* Adjust the top position to place it at the top */
    left: 61%; /* Center the button horizontally */
    transform: translateX(-50%); /* Center the button horizontally */
    transition: background-color 0.3s;
}

#createDIDButton:hover {
    background-color: #78acc8;
}

.resolve-did {
    text-decoration: none; /* Remove underlines */
    color: black;
    font-family: "Courier New", monospace;
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #000;
    border-radius: 5px;
    width: 60%;
    max-width: 600px;
    position: relative;
}

.close {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 20px;
    cursor: pointer;
}

/* Additional styling for the resolved DID content */
#resolved-did-info {
    font-family: "Courier New", monospace;
    white-space: pre-wrap;
    overflow-x: auto;
}






